<app-get-in-touch></app-get-in-touch>

<footer class="bg-white text-black py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 mb-4 mb-lg-0 pe-lg-4 text-center text-lg-start">
        <h3>Our Mission</h3>
        <p>To provide innovative and sustainable logistics solutions that connect businesses to the world, ensuring efficient, on-time, and secure transportation and warehousing services. We strive to enhance supply chain performance for our customers by offering customized, end-to-end solutions that meet their specific needs. </p>
      </div>
      <div class="col-12 offset-lg-1 col-lg-3 mb-4 mb-lg-0 text-center text-lg-start">
        <h3>Quick Menu</h3>
        <ul>
          <li><a class="text-black text-decoration-none" [routerLink]="['home']">Home</a></li>
          <li><a class="text-black text-decoration-none" [routerLink]="['services']">Services</a></li>
          <li><a class="text-black text-decoration-none" [routerLink]="['contact']">Contact</a></li>
        </ul>
      </div>
      <div class="col-12 offset-lg-2 col-lg-3 mb-4 mb-lg-0 text-center text-lg-start">
        <h3>Social</h3>
        <ul class="d-flex justify-content-center justify-content-lg-start  text-black ps-0">
          <li>
            <a href="" class="text-black fs-4" target="_blank"><i class="bi bi-facebook"></i></a>
          </li>
          <li>
            <a href="" class="text-black fs-4" target="_blank"><i class="bi bi-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 text-center">
        © 2025 Ambar Global Group. All rights reserved.
      </div>
    </div>
  </div>
</footer>
