<section class="contact">
  <app-banner title="Contact Us" image = "/assets/images/contact-us.jpg"></app-banner>

  <app-two-column-text
    leftColumnTitle="Contact Us"
    rightColumnTitle="Get in Touch"
    leftColumn="Phone: +27 (0) 73 382 7588<br>Email: admin@ambarglobalgroup.co.za<br>Address: Head Office based in Gauteng, RSA"
    rightColumn="For inquiries or to request a quote, please contact us. Visit our website at www.ambarglobalgroup.co.za."
  ></app-two-column-text>

  <app-contact-form></app-contact-form>

</section>
