@import "../../../styles.scss";

.banner {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
