<section class="get-in-touch py-5 d-flex align-items-center position-relative" style="background-image: url('/assets/images/services.png');">
  <div class="get-in-touch__overlay position-absolute w-100 h-100 start-0 top-0"></div>
  <div class="container position-relative h-100 z-2">
    <div class="row">
      <div class="offset-4 offset-lg-9 col-8 col-lg-3">
        <div class="get-in-touch__content" data-aos="slide-up">
          <p class="text-white">Global Freight Solutions--Your trusted dedicated partner to finding solutions, resulting in endless possibilities for seamless logistics, anywhere in the world! </p>
        </div>
      </div>
    </div>
    <div class="row get-in-touch__lets-talk-wrapper">
      <div class="col-12">
        <a [routerLink]="['contact']">
          <div class="get-in-touch__lets-talk d-flex align-items-end justify-content-between position-absolute bottom-0">
            LET'S TALK
            <i class="bi bi-arrow-up-short"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
