<section class="services">
  <app-banner title="Services Page Banner Title" image="/assets/images/our-services.jpg"></app-banner>

  <app-single-column-text
    heading="Our Services"
    [descriptions]="[
      'Road Freight: Full Truckload (FTL) and Less Than Truckload (LTL) services, cross-border transportation, customized routes and scheduling, timely and safe delivery of goods to urban and rural areas worldwide, abnormal loads.',
      'Air Freight: Expedited air cargo solutions for time-sensitive deliveries, global air freight network with key airlines and cargo hubs, door-to-door airfreight services, including customs clearance.',
      'Sea Freight: Containerized shipping for bulk and general cargo, FCL (Full Container Load) and LCL (Less than Container Load) options, international sea freight services for global trade routes, flexible scheduling, port handling, and customs services.',
      'Warehousing Solutions: State-of-the-art warehousing facilities for short and long-term storage, inventory management, order fulfilment, and pick-and-pack services, cross-docking and distribution management services.'
    ]"
  ></app-single-column-text>

  <app-two-column-text
    leftColumnTitle="Left Column Title"
    rightColumnTitle="Right Column Title"
    leftColumn="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin ligula vel sapien gravida tincidunt."
    rightColumn="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin ligula vel sapien gravida tincidunt."
  ></app-two-column-text>

</section>
