<section class="home">
  <app-banner title="Welcome to Ambar Global Group (AGG)" image="/assets/images/home.jpg" buttonText="Request a Quote"
    buttonLink="/contact"></app-banner>

    <app-single-column-text heading="About Us" [descriptions]="[
    'Ambar Global Group (AGG) is a leading global logistics provider that specializes in comprehensive transportation and warehousing services. With a strong international presence and a vast network of partners and resources, AGG is dedicated to optimizing the movement of goods across the globe. Our core offerings include road freight, air freight, sea freight, and tailored warehousing solutions, designed to meet the diverse needs of businesses in every industry.',
    'We pride ourselves on delivering cost-effective, efficient, and reliable logistics services, leveraging state-of-the-art technology and a customer-centric approach to ensure the seamless flow of goods, no matter the size or destination.'
  ]"></app-single-column-text>
  
  <app-parallax-banner title="Global Presence"
    description="AGG operates in multiple countries across all continents, with a vast network of partners, agents, and local warehouses. Our strategically networks and partners ensure that we can handle your logistics needs no matter where you are or where you need your goods to go. "
    [imageUrl]="'/assets/images/banner.png'">
  </app-parallax-banner>

  <app-two-column-text-image title="Our Values"
    description="<ul class='bulleted-list ps-4'><li class='p-2'>Reliability: We are committed to providing our clients with dependable and on-time delivery of their goods, no matter the mode of transport.</li><li class='p-2'>Innovation: We constantly explore new technologies and processes to enhance our service offerings and deliver greater efficiency.</li><li class='p-2'>Customer Focus: We aim to understand the unique requirements of our customers and provide tailored solutions that maximize value.</li></ul>"
    image="/assets/images/our-values.jpg">
  </app-two-column-text-image>

  <div class="container">
    <div class="row">
      <div class="col-12">

      </div>
    </div>
  </div>





</section>
