@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$primary: #12a451;
$secondary: #d3820c;
$poppin-famiy: "Poppins", sans-serif;

body {
  font-family: $poppin-famiy;;
}

.btn {
  border-radius: 0;

  &.btn-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover {
      background-color: darken($primary, 10%);
      border-color: darken($primary, 10%);
    }
  }

  &.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;

    &:hover {
      background-color: darken($secondary, 10%);
      border-color: darken($secondary, 10%);
    }
  }
}

.spacing {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: 1024px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
